body {
  background: url("../background.jpg") no-repeat fixed center;
  background-size: cover;
  /*background-image: url("img/background.jpg");*/
}

.bodyDiv {
    margin-top: 100px;
}
#makeRecipeHeader {
    float: left;
    margin-top: -2px;
}
.make-recipe-button {
    float: right;
    margin: 5px;
}
#make-recipe-hr {
    clear: right;
}
.grid-divider {
    position: relative;
    padding: 0;
}
.grid-divider>[class*='col-'] {
    position: static;
}
.grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 0;
    bottom: 0;
}
.col-padding {
    padding: 0 15px;
}

.alert {
  float: right;
  text-align: left;
  margin-bottom: -10px;
  font-size: 13px;
}

.btn-primary {
  float:right;
  margin: 2px;
  margin-top: 6px;
}

ul.container {
  list-style-type: none;
}

.panel.panel-info {
  background-color: rgba(255,255,255,0.8);
}

.nav-sidebar {
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
  padding: 2px;
  padding-left: 15px;
}
