<div class="container marketing">
	<div class="col-md-4 center">
   <form class="form-signin">
     <h2 class="form-signin-heading">Please sign in</h2>
     <label for="inputEmail" class="sr-only">Email address</label>
     <input ng-model="logInCtrl.email" id="logInEmail" type="text" class="form-control" placeholder="Email address"><br>
     <input ng-model="logInCtrl.password" id="logInPassword" type="password" class="form-control" placeholder="Password"><br>
     <button ng-click="logInCtrl.logIn(logInCtrl.email, logInCtrl.password)" id="logIn" class="btn btn-md btn-info" type="button">Sign in</button>
   </form>
	</div>
</div>
