<div class="recipe-content">
    <div>
        <div class="col-sm-2 sidebar-content">
            <nav class="nav-sidebar">
                <h4>Category</h4>
                <ul class="nav tabs">
                    <li><a href="#tab1" data-toggle="tab">Grill</a></li>
                    <li><a href="#tab2" data-toggle="tab">Fry</a></li>
                    <li><a href="#tab3" data-toggle="tab">Bake</a></li>
                    <li><a href="#tab4" data-toggle="tab">Stir-Fry</a></li>
                    <li><a href="#tab5" data-toggle="tab">Steam</a></li>
                </ul>
            </nav>
        </div>

        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <h2>Grill Recipe</h2>
                <hr>
                <ul class="container col-xs-10" style="padding-left: 0px;">
                    <li ng-repeat="recipe in mainCtrl.recipes | filter: {category: 'Grill'} : true" class="col-xs-4" style="padding-left: 0px;">
                        <div class="panel panel-info">
                          <div class="panel-heading" style="background-color: #857E61;">
                            <h4 style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                          </div>
                          <div class="panel-body">
                            <div>
                                <h5 style="font-weight: bold;">Ingredients</h5>
                                <ul>
                                    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                </ul>
                            </div>
                            <div>
                                <h5 style="font-weight: bold;">Instructions</h5>
                                <ol>
                                    <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                </ol>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="tab2">
                <h2>Fry Recipe</h2>
                <hr>
                <ul class="container col-xs-10" style="padding-left: 0px;">
                    <li ng-repeat="recipe in mainCtrl.recipes | filter: {category: 'Fry'} : true" class="col-xs-4" style="padding-left: 0px;">
                        <div class="panel panel-info">
                          <div class="panel-heading" style="background-color: #963484;">
                            <h4 style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                          </div>
                          <div class="panel-body">
                            <div>
                                <h5 style="font-weight: bold;">Ingredients</h5>
                                <ul>
                                    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                </ul>
                            </div>
                            <div>
                                <h5 style="font-weight: bold;">Instructions</h5>
                                <ol>
                                    <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                </ol>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane text-style" id="tab3">
                <h2>Bake Recipe</h2>
                <hr>
                <ul class="container col-xs-10" style="padding-left: 0px;">
                    <li ng-repeat="recipe in mainCtrl.recipes | filter: {category: 'Bake'} : true" class="col-xs-4" style="padding-left: 0px;">
                        <div class="panel panel-info">
                          <div class="panel-heading" style="background-color: #FCD0A1;">
                            <h4 style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                          </div>
                          <div class="panel-body">
                            <div>
                                <h5 style="font-weight: bold;">Ingredients</h5>
                                <ul>
                                    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                </ul>
                            </div>
                            <div>
                                <h5 style="font-weight: bold;">Instructions</h5>
                                <ol>
                                    <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                </ol>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane text-style" id="tab4">
                <h2>Stir-Fry Recipe</h2>
                <hr>
                <ul class="container col-xs-10" style="padding-left: 0px;">
                    <li ng-repeat="recipe in mainCtrl.recipes | filter: {category: 'Stir-Fry'} : true" class="col-xs-4" style="padding-left: 0px;">
                        <div class="panel panel-info">
                          <div class="panel-heading" style="background-color: #C1A5A9;">
                            <h4 style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                          </div>
                          <div class="panel-body">
                            <div>
                                <h5 style="font-weight: bold;">Ingredients</h5>
                                <ul>
                                    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                </ul>
                            </div>
                            <div>
                                <h5 style="font-weight: bold;">Instructions</h5>
                                <ol>
                                    <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                </ol>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane text-style" id="tab5">
                <h2>Steam Recipe</h2>
                <hr>
                <ul class="container col-xs-10" style="padding-left: 0px;">
                    <li ng-repeat="recipe in mainCtrl.recipes | filter: {category: 'Steam'} : true" class="col-xs-4" style="padding-left: 0px;">
                        <div class="panel panel-info">
                          <div class="panel-heading" style="background-color: #41EAD4;">
                            <h4 style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                          </div>
                          <div class="panel-body">
                            <div>
                                <h5 style="font-weight: bold;">Ingredients</h5>
                                <ul>
                                    <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                </ul>
                            </div>
                            <div>
                                <h5 style="font-weight: bold;">Instructions</h5>
                                <ol>
                                    <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                </ol>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
