<div class="container marketing">
	<div class="col-md-4 center">
   <form class="form-signup">
     <h2 class="form-signup-heading">Please sign up</h2>
     <label for="signUpEmail" class="sr-only">Email address</label>
     <input ng-model="signUpCtrl.email" id="signUpEmail" type="text" class="form-control" placeholder="Email address"><br>
     <input ng-model="signUpCtrl.password" id="signUpPassword" type="password" class="form-control" placeholder="Password"><br>
     <input ng-model="signUpCtrl.passwordConfirmation" id="signUpPasswordConfirm" type="password" class="form-control" placeholder="Retype Password"><br>
     <button ng-click="signUpCtrl.signUp(signUpCtrl.email, signUpCtrl.password, signUpCtrl.passwordConfirmation)" id="signUp" class="btn btn-md btn-info" type="button">Sign Up</button>
   </form>
	</div>
</div>
