<div class="recipe-content">
    <div>
        <div class="col-sm-2 sidebar-content">
            <nav class="nav-sidebar">
                <h4>Category</h4>
                <ul class="nav tabs">
                    <li ng-class="{'active' : activeTab == 6}"><a href="" ng-click="setActiveTab(6)">Grill</a></li>
                    <li ng-class="{'active' : activeTab == 7}"><a href="" ng-click="setActiveTab(7)">Fry</a></li>
                    <li ng-class="{'active' : activeTab == 8}"><a href="" ng-click="setActiveTab(8)">Bake</a></li>
                    <li ng-class="{'active' : activeTab == 9}"><a href="" ng-click="setActiveTab(9)">Stir-Fry</a></li>
                    <li ng-class="{'active' : activeTab == 10}"><a href="" ng-click="setActiveTab(10)">Steam</a></li>
                    <li ng-class="{'active' : activeTab == 11}"><a href="" ng-click="setActiveTab(11)">Favorite Collection</a></li>
                    <li ng-class="{'active' : activeTab == 12}"><a href="" ng-click="setActiveTab(12)">Make Recipes</a></li>
                </ul>
            </nav>
        </div>

        <div class="tab-content">
            <div ng-class="{'tab-pane active': activeTab === 6, 'tab-pane' : activeTab !== 6}">
                <h2>Grill Recipe</h2>
                <hr>
                <div ng-controller="userRecipeController" ng-init="initGet()">
                    <ul class="container col-xs-10" style="padding-left: 0px;">
                        <li ng-repeat="recipe in userRecipes | filter: {category: 'Grill'} : true" class="col-xs-4" style="padding-left: 0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color: #857E61; display: flex;">
                                    <h4 class="col-xs-10" style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                                    <button class="btn btn-md btn-danger" ng-click="deleteRecipe(recipe)" style="float:right;"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <h5 style="font-weight: bold;">Ingredients</h5>
                                        <ul>
                                            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 style="font-weight: bold;">Instructions</h5>
                                        <ol>
                                            <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-class="{'tab-pane active': activeTab === 7, 'tab-pane' : activeTab !== 7}">
                <h2>Fry Recipe</h2>
                <hr>
                <div ng-controller="userRecipeController" ng-init="initGet()">
                    <ul class="container col-xs-10" style="padding-left: 0px;">
                        <li ng-repeat="recipe in userRecipes | filter: {category: 'Fry'} : true" class="col-xs-4" style="padding-left: 0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color: #963484; display: flex;">
                                    <h4 class="col-xs-10" style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                                    <button class="btn btn-md btn-danger" ng-click="deleteRecipe(recipe)" style="float:right;"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <h5 style="font-weight: bold;">Ingredients</h5>
                                        <ul>
                                            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 style="font-weight: bold;">Instructions</h5>
                                        <ol>
                                            <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-class="{'tab-pane active': activeTab === 8, 'tab-pane' : activeTab !== 8}">
                <h2>Bake Recipe</h2>
                <hr>
                <div ng-controller="userRecipeController" ng-init="initGet()">
                    <ul class="container col-xs-10" style="padding-left: 0px;">
                        <li ng-repeat="recipe in userRecipes | filter: {category: 'Bake'} : true" class="col-xs-4" style="padding-left: 0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color: #FCD0A1; display: flex;">
                                    <h4 class="col-xs-10" style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                                    <button class="btn btn-md btn-danger" ng-click="deleteRecipe(recipe)" style="float:right;"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <h5 style="font-weight: bold;">Ingredients</h5>
                                        <ul>
                                            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 style="font-weight: bold;">Instructions</h5>
                                        <ol>
                                            <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-class="{'tab-pane active': activeTab === 9, 'tab-pane' : activeTab !== 9}">
                <h2>Stir-Fry Recipe</h2>
                <hr>
                <div ng-controller="userRecipeController" ng-init="initGet()">
                    <ul class="container col-xs-10" style="padding-left: 0px;">
                        <li ng-repeat="recipe in userRecipes | filter: {category: 'Stir-Fry'} : true" class="col-xs-4" style="padding-left: 0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color: #C1A5A9; display: flex;">
                                    <h4 class="col-xs-10" style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                                    <button class="btn btn-md btn-danger" ng-click="deleteRecipe(recipe)" style="float:right;"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <h5 style="font-weight: bold;">Ingredients</h5>
                                        <ul>
                                            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 style="font-weight: bold;">Instructions</h5>
                                        <ol>
                                            <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-class="{'tab-pane active': activeTab === 10, 'tab-pane' : activeTab !== 10}">
                <h2>Steam Recipe</h2>
                <hr>
                <div ng-controller="userRecipeController" ng-init="initGet()">
                    <ul class="container col-xs-10" style="padding-left: 0px;">
                        <li ng-repeat="recipe in userRecipes | filter: {category: 'Steam'} : true" class="col-xs-4" style="padding-left: 0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color: #41EAD4; display: flex;">
                                    <h4 class="col-xs-10" style="font-family: 'Baloo Da';">{{recipe.name}}</h4>
                                    <button class="btn btn-md btn-danger" ng-click="deleteRecipe(recipe)" style="float:right;"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <h5 style="font-weight: bold;">Ingredients</h5>
                                        <ul>
                                            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h5 style="font-weight: bold;">Instructions</h5>
                                        <ol>
                                            <li ng-repeat="instruction in recipe.instructions">{{instruction}}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-class="{'tab-pane active': activeTab === 11, 'tab-pane' : activeTab !== 11}">
                <h2>Coming Soon</h2>
                <!-- <h2>Your Favorite Recipes</h2> -->
                <hr>
                <div>
                    <!-- <table>
                        <tr ng-repeat="recipe in urCtrl.likeRecipes">
                            <td>{{ recipe.name }}</td>
                            <td>{{ recipe.category}}</td>
                            <td>{{ recipe.ingredients }}</td>
                            <td>{{ recipe.instructions }}</td>
                        </tr>
                    </table> -->
                </div>
            </div>

            <div ng-class="{'tab-pane active': activeTab === 12, 'tab-pane' : activeTab !== 12}">
                <h2 id="makeRecipeHeader">Make Recipes</h2>
                <div>
                    <form class="form-horizontal">
                        <div>
                            <button class="btn btn-md btn-success make-recipe-button" type='submit' ng-click="urCtrl.submitRecipe()">Submit</button>
                            <button class="btn btn-md btn-info make-recipe-button" ng-click="urCtrl.addFormFieldforInstructions()">Add Instructions</button>
                            <button class="btn btn-md btn-info make-recipe-button" ng-click="urCtrl.addFormFieldforIngredients()">Add Ingredients</button>
                            <hr id="make-recipe-hr">
                        </div>
                        <div class="panel panel-info col-xs-10" style="width:83%">
                            <div class="panel-body grid-divider">
                                <div class="col-xs-3" style="margin-left:-35px;">
                                    <div class="col-padding">
                                        <h5>Recipe Name</h5>
                                        <input type='text' class="makeRecipeInput" ng-model='urCtrl.recipe.name' placeholder='recipe name'>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="col-padding">
                                        <h5>Recipe Category</h5>
                                        <input type='text' class="makeRecipeInput" ng-model='urCtrl.recipe.category' placeholder='cooking method'>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="col-padding">
                                        <h5>Recipe Ingredients</h5>
                                        <input class="makeRecipeInput" ng-repeat="ingredient in urCtrl.recipe.ingredients track by $index" type='text' ng-model='urCtrl.recipe.ingredients[$index]' placeholder='ingredients' style="margin-bottom: 5px;">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="col-padding">
                                        <h5>Recipe Instructions</h5>
                                        <input class="makeRecipeInput" ng-repeat="instruction in urCtrl.recipe.instructions track by $index" type='text' ng-model='urCtrl.recipe.instructions[$index]' placeholder='instructions' style="margin-bottom: 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
